@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import "tailwindcss";

@theme {
  --color-surface: #0b1326;
  --color-surface-dim: #0b1326;
  --color-surface-bright: #31394d;
  --color-surface-container-lowest: #060e20;
  --color-surface-container-low: #131b2e;
  --color-surface-container: #171f33;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;
  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #c2c6d6;
  --color-inverse-surface: #dae2fd;
  --color-inverse-on-surface: #283044;
  --color-outline: #8c909f;
  --color-outline-variant: #424754;
  --color-surface-tint: #adc6ff;
  --color-primary: #adc6ff;
  --color-on-primary: #002e6a;
  --color-primary-container: #4d8eff;
  --color-on-primary-container: #00285d;
  --color-inverse-primary: #005ac2;
  --color-secondary: #4edea3;
  --color-on-secondary: #003824;
  --color-secondary-container: #00a572;
  --color-on-secondary-container: #00311f;
  --color-tertiary: #ffb95f;
  --color-on-tertiary: #472a00;
  --color-tertiary-container: #ca8100;
  --color-on-tertiary-container: #3e2400;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-primary-fixed: #d8e2ff;
  --color-primary-fixed-dim: #adc6ff;
  --color-on-primary-fixed: #001a42;
  --color-on-primary-fixed-variant: #004395;
  --color-secondary-fixed: #6ffbbe;
  --color-secondary-fixed-dim: #4edea3;
  --color-on-secondary-fixed: #002113;
  --color-on-secondary-fixed-variant: #005236;
  --color-tertiary-fixed: #ffddb8;
  --color-tertiary-fixed-dim: #ffb95f;
  --color-on-tertiary-fixed: #2a1700;
  --color-on-tertiary-fixed-variant: #653e00;
  --color-background: #0b1326;
  --color-on-background: #dae2fd;
  --color-surface-variant: #2d3449;

  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

/* Base custom interactive styles */
html {
  font-size: 62.5%; /* Base 10px so 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  background-color: #0b1326;
  color: #dae2fd;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

/* Custom Scrollbar for a sleek dev-tools aesthetic */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #060e20;
}
::-webkit-scrollbar-thumb {
  background: #2d3449;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #424754;
}

/* Utility Animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
